[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pydantic = "*"
pytest = "*"
ruff = "*"
black = "*"
mypy = "*"
httpx = "*"
alembic = "*"
fastapi = "*"
sqlalchemy = "*"
uvicorn = "*"
python-dotenv = "*"
jinja2 = "*"

[dev-packages]
black = "*"
mypy = "*"
ruff = "*"
pytest = "*"

[requires]
python_version = "3.10"
